<a href="https://colab.research.google.com/github/EduDN/CursoPython/blob/main/Temas/2ntroducci%C3%B3n_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python básico**

### ÍNDICE 



*   Concatenación.
*   Listas

![image.png]()

## CONCATENACIÓN
 ` +  ` usamos este signo para crear una concatenación o unión de caracteres o elementos**

In [ ]:
nombre = "Eduardo" 
print("Hola Mundo " + nombre)

Hola Mundo Eduardo


 ` nombre= "Eduardo" ` creamos una variable llamada  ` nombre ` la cual estará almacenando el valor de ` Eduardo ` para poderla concatenar a nuestra cadena de caracteres que vamos a imprimir. **

In [ ]:
nombre = input("Ingresa tu nombre:  ")
print("Bienvenido al curso " + nombre)

Ingresa tu nombre:  Eduardo
Bienvenido al curso Eduardo


 ` Calcularemos el porcentaje de descuento de una casa ` creamos una variable llamada  ` valor_casa ` la cual estará almacenando el valor de ` 980,000 ` este valor será de tipo ` int `, crearemos otra variable llamada ` descuento ` la que calculará el porcentaje del descuento que se le hará a la vivienda (15%) ` descuento = valor_casa * 0.15  `

In [ ]:
valor_casa = 980000
descuento = valor_casa * 0.15
print("El valor de la casa es $" + valor_casa + " se aplica descuento por: $" + descuento )

TypeError: ignored

El siguiente código mandará el error ` can only concatenate str (not "int") to str `  debido al tipo de conversión que se debe de realizar, siendo más específicos tendremos que cambiar nuestros valores de float a ` str(valor_casa)  ` ( cadena de caracteres string)  para poder añadirlos a la concatenación y convertilos en un valor tipo string.

Funciones similares como int(valor_a_cambiar), float(valor_a_cambiar) y bool(valor_a_cambiar) te ayudarán a convertir los valores de Python en cualquier tipo. 
` EJEMPLO :`

In [ ]:
valor_casa = 980000
descuento = (valor_casa * 0.15)
print("El valor de la casa es $" + str(valor_casa) + " se aplica descuento por: $" + str(descuento) )

El valor de la casa es $980000 se aplica descuento por: $147000.0

En caso de querer cambiar un valor ` string (texto) `-> a -> ` int `, realizaremos el mismo procedimiento:

In [ ]:
valor_casa = '980000'
conversion = print(int(valor_casa))

980000

` EJERCICIO ` 
Convierte el valor bool a str

In [ ]:
estacionameinto = True
print(' ¿La casa cuenta con puertas? ' + estacionameinto)

TypeError: ignored

##LISTAS

Una lista se representa como una colección de valores almacenados.
Los valores que podremos almacenar en estas listas son variados, pueden ser ` float, int , string, bool `.

**FORMATO**
` nombre_variable  = [ valores ] `

In [ ]:
familia_edades = [14, 25, 45 , 46 , 89] 
print(familia_edades)

[14, 25, 45, 46, 89]

Incluso es posible que una lista pueda almacenar diversos tipos de datos:

In [ ]:
familia_edades1 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]
print(familia_edades1)

['Eduardo', 14, 'Mario', 25, 'Karla', 45, 'Natalia', 46, 'Guadalupe', 89]

De igual manera podrán contener listas dentro de listas:

In [ ]:
familia_edades2 = [['Eduardo', 14,],
                   ['Mario', 25],
                   ['Karla' , 45],
                   ['Natalia', 46 ],
                   ['Guadalupe', 89]]
print(familia_edades2)
print(type(familia_edades2))

[['Eduardo', 14], ['Mario', 25], ['Karla', 45], ['Natalia', 46], ['Guadalupe', 89]]
<class 'list'>

In [ ]:
type(familia_edades2)

list

### Acceder a la información en las Listas

Para acceder a los datos encontrados en nuestras listas haremos uso del ` índice `

Nos referimos al ` índice ` como a las posiciones que tendrán nuestros datos.
Dichas posiciones en donde se encentran los datos, ` inician desde el número  0 ` , el siguiente dato sería 1 y así sucesivamente.

In [ ]:
familia_edades1 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

Si queremos saber la edad que tiene Eduardo, es cuestión de buscar la posición dentro de nuestro índice en la cual se encuentra esta edad.
` Recuerda, siempre empezamos desde 0 `

Para consultar este dato la estructura será la siguiente:

` print(nombredelalista[indice]) ` 

` nombredelalista[indice] `

In [ ]:
print(familia_edades1[1])

14

In [ ]:
familia_edades1[5]

45


** ` EJERCICIO ` **

Consulta el la edad de Natalia.

In [ ]:
#EJERCICIO

### Cortes de Listas **(RANGOS)** 

Como habíamos visto anteriormente, podremos consultar datos dentro de nuestras lista.
Pero, ¿qué pasa si queremos consultar un rango de datos?

In [ ]:
familia_edades1 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

Para poder consultar un rango de datos ocuparemos la siguiente estructura:

` print(nombredelalista[INICIO : FINAL]) `

*Dato:*

*AL PONER EL RANGO FINAL SE LE RESTARÁ UN -1 PARA PODER OBETENER EL HASTA DONDE ESTARÁ IMPRIMIENTO ) *

In [ ]:
print(familia_edades1[2:4])

['Mario', 25]

Como podemos observar el elemento 4 ` Karla ` no se presenta, esto debido a que el corte lo maneja como Final -1 y al momento de consultar los datos se presentaran los datos puestos en el rango, menos el último.

**EJEMPLO**

Obten los datos de:  ` Karla hasta la edad de Natalia `

In [ ]:
#EJERCICIO

***Otra forma para poder consultar datos a traves de rangos es la siguiente:***

In [ ]:
familia_edades1 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

In [ ]:
print(familia_edades1[:4])

['Eduardo', 14, 'Mario', 25]

In [ ]:
print(familia_edades1[4:])

['Karla', 45, 'Natalia', 46, 'Guadalupe', 89]

De esta manera podremos imprimir los datos que requiramos poniendo el lugar a partir del que queremos consultar en adelante teniendo la siguiente estructura:

**EMPIEZA DEL 0 HASTA EL LUGAR ASIGNADO**

` print(nombredelalista[:indice]`

**EMPIEZA DEL LUGAR ASIGNADO EN ADELANTE**

` print(nombredelalista[indice:]`

` EJERCICIO `

**OBTEN LOS DATOS DE NATALIA PARA ATRÁS**

**OBTEN LOS DATOS DE MARIO EN ADELANTE**

In [ ]:
#EJERCICIO

### Listas con Concatenación  

Podremos concatenar los valores que contengan nuestras listas.

In [ ]:
familia_edades1 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

Sumaremos las edades de **Natalia y Guadalupe**

In [ ]:
suma= familia_edades1[7] + familia_edades1 [9]

In [ ]:
print(suma)

135

In [ ]:
print("La suma de las edades de Natalia y Guadalupe es: " + str(suma))

La suma de las edades de Natalia y Guadalupe es: 135

**EJERCICIO**

Calcula la suma de la edad de Eduardo y Mario

In [ ]:
#EJERCICIO

### Manipulando Listas. 

Podremos concatenar los valores que contengan nuestras listas.


*   Cambiar elementos de las listas.
*   Agregar elementos a las listas.
*   Remover elementos de las listas.

**CAMBIAR ELEMENTOS DE LAS LISTAS**

La manera de realizar el cambio en estas listas se hará de la siguiente manera: 

x= indice donde se encuentra el elemento a cambiar 

y= nuevo elemento a cambiar 

`***nombredelalista [ x ] = y***`

In [2]:
fam = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

In [3]:
fam[3]= 26

In [4]:
print(fam)

['Eduardo', 14, 'Mario', 26, 'Karla', 45, 'Natalia', 46, 'Guadalupe', 89]

**EJERCICIO**
Cambiar el nombre de Karla por Rebeca

In [ ]:
#EJERCICIO

De igual manera puedes sustituir elementos de la lista por rangos de la siguiente forma.


x= 1er nuevo elemento a cambiar 

y= 2do nuevo elemento a cambiar

` nombredelalista[ inicio : fin )  ] = [x , y] `

In [8]:
fam2 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

In [9]:
fam2[4:6]= ["Elena", 25]

In [10]:
print(fam2)

['Eduardo', 14, 'Mario', 25, 'Elena', 25, 'Natalia', 46, 'Guadalupe', 89]

**EJERCIO**

*Sustituye los valores de Guadalupe y 89*

In [ ]:
#EJERCICIO

**AGREGAR ELEMENTOS A LA LISTA**

Para poder agregar un nuevo elemento a tu lista tendrás que seguir la siguiente estructura:

x= nuevo elemento

y= nuevo elemento

` nommbredelalista + [ x ] `

` nommbredelalista + [ x , y ] `

In [24]:
fam3 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

In [25]:
fam_nuevo_elemento = fam3 + ["Alberto" , 30]

In [27]:
print(fam_nuevo_elemento)

['Eduardo', 14, 'Mario', 25, 'Karla', 45, 'Natalia', 46, 'Guadalupe', 89, 'Alberto', 30]

**REMOVER O ELIMINAR ELEMENTO**

Para poder remover un elemento de una lista, se seguirá el siguiente formato:

x= elemento a eliminar

del(nombredelalista[x])

In [28]:
fam3 = ['Eduardo', 14, 'Mario', 25 , 'Karla' , 45 , 'Natalia', 46 , 'Guadalupe', 89 ]

In [29]:
del (fam3[2])

In [30]:
print(fam3)

['Eduardo', 14, 25, 'Karla', 45, 'Natalia', 46, 'Guadalupe', 89]

Al momento de eliminar un elemento, los posiciones o los indices se organizan de nuevo, por lo que, si vuelvo a querer eliminar el elemento que se encuentra en la posición 2 estaré eliminando el elemento *25*

In [31]:
del (fam3[2])

In [32]:
print(fam3)

['Eduardo', 14, 'Karla', 45, 'Natalia', 46, 'Guadalupe', 89]